.nav {
    width: 50%;

    display: flex;
    justify-content: space-around;
}

/*
    CSS Rules for the links of the navbar
*/
.link {
    margin-top: 20px;
}

/*
    CSS Rules for the text of the link of the navbar
*/
.link > span {
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
    color: white;
}

@media screen and (max-width: 800px) {
    .link > span {
        font-size: 20px;
    }
}