.nav {
    z-index: 1;
    padding-bottom: 15px;

    display: flex;
    justify-content: space-around;
}

/*
    CSS Rules for the links of the navbar
*/
.link {
    margin-top: 20px;
}

/*
    CSS Rules for the text of the link of the navbar
*/
.link > span, .link a {
    cursor: pointer;
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .link > span, .link a {
        font-size: 20px;
    }
}