.show-reviews {
  display: grid;
  grid-template-columns: repeat(2, 35%);
  justify-content: space-evenly;
  height: fit-content;
}

.button-wrap {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 800px){
  /* Change the image from desktop to mobile */
  .show-reviews{
    /* set width review to 80% of phone*/
    grid-template-columns: 70%; 
    grid-auto-rows:min-content;
    justify-content: center;
    justify-content: space-around;
  }

  .button-wrap {
    display: block;
  }

  .button-wrap button {
    display: block;
    margin: 0 auto 20px auto;
  }

  /* https://www.youtube.com/watch?v=9zBsdzdE4sM*/
}