footer {
  margin-top: 50px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;

  background-color: rgba(240, 248, 255);
}

.footer-container{
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
}

.footer-content > h2 {
  font-size: 3em;
}

.footer-content > .social, .footer-content > p {
  margin: 20px 0;
}

.social > img {
  width: 50px;
  height: 50px;
}

.social + p {
  font-size: 20px;
}

.social > h3 {
  font-size: 2em;
}

.social > img {
  margin-right: 10px;
}

.contact-info {
  margin-left: 10px;
}

.site-creator {
  text-align: center;
  margin-bottom: 10px;
}

/* https://www.youtube.com/watch?v=9zBsdzdE4sM*/
@media (max-width: 800px){
  .footer-container{
    background-color: azure;
    grid-template-columns: 80%;
    justify-content: center;
  }
  
}