.card {
    width:100%;
    margin: 20px 0;
    border: 1px solid black;
}

.card-header {
    margin-left: 3%;
}

.card-header > h3 {
    font-size: 2.5em;
}
.paragraph{
    margin: 10px;
}

.star-img {
    width: 25px;
    height: auto;
}